.mgw-tooltip {
    padding: 0 10px;
    vertical-align: middle;
    position: relative;
    word-wrap:break-word;
}
.mgw-tooltip:hover{
    cursor: help;
}
.mgw-tooltip:after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
    padding: 6px 10px;
    top: 1.8em;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-2px);
    transform: translateX(-50%) translateY(-2px);
    background: #263238;
    color: #F5F5F5;
    white-space: nowrap;
    z-index: 9991;
    border-radius: 2px;
    font-family: Iransans, serif;
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}
.mgw-tooltip:hover:after {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
}
.mgw-tooltip:before {
    content: '';
    width: 0;
    height: 0;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-bottom: solid 5px #263238;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-2px);
    transform: translateX(-50%) translateY(-2px);
    top: 1.5em;
    left: 50%;
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    z-index: 3;
}
.mgw-tooltip:hover:before {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
}